@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Estilos base */
body,
html {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #f4f4f4;
  color: #333;
  width: 100%;
}

/* Barra de navegación */
nav {
  width: 100%;
  box-sizing: border-box;
}

.encabezado {
  display: flex;
  flex-direction: row;
  /* Ajustado para que el logo esté a un lado en pantallas grandes */
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  width: 100%;
  background-color: #466d68;
  color: #fff;
  padding: 0;
}

.logo img {
  max-width: 250px;
  height: auto;
  padding:0;
}

.logo,
.titulo {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
}

.titulo {
  margin-left: 20px;
}

.titulo h1,
.titulo h2,
.titulo hr {
  margin: 5px 0;
}

.titulo h1 {
  font-size: 24px;
}

.titulo h2 {
  font-size: 18px;
}

/* Estilo para el menú */
.menu_bar {
  width: 100%;
  background-color: #3a5a57;
  box-sizing: border-box;
}

.menu_bar ul {
  list-style-type: none;
  padding: 5px;
  margin: 0;
  display: flex;
  justify-content: center;
}

.menu_bar ul li {
  margin: 0 15px;
  padding: 1px, 20px;
  border-radius: 5px;
}

.menu_bar ul li a {
  text-decoration: none;
  color: #ffffff;
  transition: color 0.3s ease;

}

.menu_bar ul li a:hover {
  color: #3a5a57;
  border-radius: 5px;
  background-color: #FFFC90;


}

#home:hover svg {
  transform: scale(1.2);
  transition: transform 0.3s ease;
  /* Suaviza la transición */
  background-color: #3a5a57;
}


/* Estilos para contenedores y selecciones */
.container_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container_select {
  width: 90%;
  margin: 20px auto;
  padding: 20px;
  background-color: #466d68;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  border-radius: 5px;
  box-sizing: border-box;
}

label,
select {
  font-weight: bold;
  font-size: 14px;
  color: #fff;
}

select {
  background-color: #fff;
  border: 1px solid #ddd;
  color: #333;
  padding: 8px 10px;
  border-radius: 5px;
}

/* Estilos para las tarjetas */
.cards_grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 12.5px;
  width: 300px;
  /* Corregido */
  box-sizing: border-box;
}

.main {
  background-color: #ddd8cf;
  background-size: 100%, 500px;
  min-height: 740px;
  /* Ajusta este valor según tus necesidades */
  display: flex;
  /* Habilita Flexbox */
  flex-direction: column;
  /* Organiza los hijos verticalmente */
  justify-content: center;
  /* Centra los hijos verticalmente */
  align-items: center;
  /* Centra los hijos horizontalmente */
  text-align: center;
  /* Asegura que el texto también esté centrado, aunque flex ya lo maneja */
}

.main h2 {
  font-size: 56px;
  color: #466d68;
  margin: 20px 0;
  /* Ajusta el espaciado según necesites */
}

.main hr {
  width: 500px;
  height: 5px;
  background-color: #3a5a57;
  border: none;
  /* Elimina el borde por defecto para que se vea el color de fondo */
  border-radius: 5px;
  margin: 20px 0;
  /* Ajusta según necesites */
}

.main h3 {
  font-size: 40px;
  color: #d8ac5b;
  margin: 20px 0;
  /* Ajusta según necesites */
}

#detalleInfo {
  background-color: #3a5a577c;
  color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px 25px;
  margin: 15px;
  position: fixed;
  /* O absolute, según el contexto */
  bottom: 0;
  /* Ajusta esto según dónde quieras que aparezca */
  left: 0;
  height: 220px;
  width: 550px;
  /* Ancho máximo de la ventana del navegador */
  z-index: 1000;
  /* Asegúrate de que se sobreponga a otros elementos */
  display: none;
  /* Oculto inicialmente */
}

.valor_detalle {
  color: #FFFC90;
  font-weight: bolder;
}

#productividadChart {
  height: auto;
  /* Altura automática basada en el contenido */
  min-height:00px;
  /* Establece una altura mínima si es necesario */
 
}

.chart-container {
  position: relative;
  height: 40vh;
  width: 80vw;
  margin: auto; /* Centrar la gráfica si es necesario */
}

.chart-footer {
  text-align: center;
  color: #666;
  font-size: 0.8em; /* Ajusta el tamaño de la fuente según necesites */
  margin-top: 5px; /* Espacio entre la gráfica y el texto */
}

.card_prin {
  background-color: #3a5a57; 
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave para profundidad */
  padding: 20px; /* Espaciado interno */
  margin: 20px; /* Margen externo */
  width: calc(100% - 200px); /* Ancho ajustado al contenedor con margen */
  box-sizing: border-box; /* Incluye padding y border en el ancho y alto total */
  color: #333; /* Color de texto oscuro para contraste */
  text-align: left; /* Alineación de texto a la izquierda */
}

.card_prin h4 {
  color:  #ddd8cf;
  margin-bottom: 10px; /* Espacio después del título */
  font-size: 22px; /* Tamaño de fuente para el título de la tarjeta */
}

.card_prin p {
  font-size: 16px; /* Tamaño de fuente del texto */
  line-height: 1.5; /* Espacio entre líneas para mejorar la legibilidad */
  color: #ffffff;
}



@media (max-width: 915px) {
  .encabezado {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .logo,
  .titulo {
    display: flex;
    flex-direction: column;
  }

  .titulo {
    margin-left: 0;
  }

  .container_select {
    flex-direction: column;
  }

  .card {
    width: 90%;
    /* Ajusta para pantallas pequeñas */
    margin: 12.5px auto;
  }

  .main h2 {
    font-size: 44.8px;
  }

  .main hr {
    width: 400px;
  }

  .main h3 {
    font-size: 32px;
  }



}

@media (max-width: 1316px) {
  .cards_grid .card {
    margin: 10px;
    /* Esto proporciona 50px de espacio total en horizontal y vertical entre las tarjetas */
  }
}