@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Estilos base */
body,
html {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #f4f4f4;
  color: #333;
  width: 100%;
}

/* Barra de navegación */
nav {
  width: 100%;
  box-sizing: border-box;
}

.encabezado {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  width: 100%;
  background-color: #466d68;
  color: #fff;
  padding: 0;
}

.logo img {
  max-width: 250px;
  height: auto;
  padding:0;
}

.logo,
.titulo {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
}

.titulo {
  margin-left: 20px;
}

.titulo h1,
.titulo h2,
.titulo hr {
  margin: 5px 0;
}

.titulo h1 {
  font-size: 24px;
}

.titulo h2 {
  font-size: 18px;
}

/* Estilo para el menú */
.menu_bar {
  width: 100%;
  background-color: #3a5a57;
  box-sizing: border-box;
}

.menu_bar ul {
  list-style-type: none;
  padding: 5px;
  margin: 0;
  display: flex;
  justify-content: center;
}

.menu_bar ul li {
  margin: 0 15px;
  padding: 1px, 20px;
  border-radius: 5px;
}

.menu_bar ul li a {
  text-decoration: none;
  color: #ffffff;
  transition: color 0.3s ease;
}

.menu_bar ul li a:hover {
  color: #3a5a57;
  border-radius: 5px;
  background-color: #FFFC90;
}

#home:hover svg {
  transform: scale(1.2);
  transition: transform 0.3s ease;
  background-color: #3a5a57;
}

/* Estilos para contenedores y selecciones */
.container_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container_select {
  width: 90%;
  margin: 20px auto;
  padding: 20px;
  background-color: #466d68;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  border-radius: 5px;
  box-sizing: border-box;
}

label,
select {
  font-weight: bold;
  font-size: 14px;
  color: #fff;
}

select {
  background-color: #fff;
  border: 1px solid #ddd;
  color: #333;
  padding: 8px 10px;
  border-radius: 5px;
  width: auto; /* Asegura que el select se ajusta al contenido o espacio disponible */
}

/* Media queries para ajustar la responsividad de .container_select */
@media (max-width: 768px) {
  .container_select {
    flex-direction: column; /* Cambia la disposición a columna en pantallas pequeñas */
    align-items: stretch; /* Alinea los elementos a lo largo del eje principal */
  }

  label {
    width: 100%; /* Los labels ocupan todo el ancho */
    margin-bottom: 10px; /* Espacio después de cada label para claridad */
  }

  select {
    width: 100%; /* Los select ocupan todo el ancho */
  }
}

@media (max-width: 480px) {
  .container_select {
    padding: 15px; /* Reduce el padding en dispositivos muy pequeños */
  }

  label,
  select {
    font-size: 12px; /* Reduce un poco el tamaño de fuente para ajustarse a pantallas más pequeñas */
  }
}

/* Estilos para las tarjetas */
.cards_grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 12.5px;
  width: 300px;
  box-sizing: border-box;
}

.main {
  background-color: #ddd8cf;
  background-size: 100%, 500px;
  min-height: 740px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main h2 {
  font-size: 56px;
  color: #466d68;
  margin: 20px 0;
}

.main hr {
  width: 500px;
  height: 5px;
  background-color: #3a5a57;
  border: none;
  border-radius: 5px;
  margin: 20px 0;
}

.main h3 {
  font-size: 40px;
  color: #d8ac5b;
  margin: 20px 0;
}

#detalleInfo {
  background-color: #3a5a577c;
  color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px 25px;
  margin: 15px;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 220px;
  width: 550px;
  z-index: 1000;
  visibility: hidden;
}

.detalleInfoBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#closeIcon {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  fill: #fff;
}

#closeIcon:hover {
  fill: #f00;
}

/* Ajustes específicos para visibilidad en diferentes elementos */
#detalleInfo.visible {
  visibility: visible;
}
