@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Estilos base */
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

/* Barra de navegación */
nav {
  color: #fff;
  background-color: #466d68;
  display: flex;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
}

img {
  border-radius: 5px;
  height: auto;
  padding: 5px;
}

/* Contenedor general */
.container_select,
.canvas_radar {
  width: 90%;
  margin: 20px auto;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  box-sizing: border-box;
}

/* Estilos para el contenedor de selección */
.container_select {
  background-color: #466d68;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  border-radius: 5px;
}

label, select {
  font-weight: bold;
  font-size: 14px;
  color: #fff;
}

select {
  background-color: #fff;
  border: 1px solid #ddd;
  color: #333;
  padding: 8px 10px;
  border-radius: 5px;
}

h1, h2 {
  text-align: center;
  color: #fff;
}

h1 {
  font-size: 24px;
  margin: 10px 0;
}

h2 {
  font-size: 18px;
  margin: 5px 0;
}

/* Estilos para las tarjetas de las gráficas */
.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  padding: 20px;
  margin: 12.5px; /* Espacio de 25px entre tarjetas ajustando el margen a la mitad */
  width: 300px; /* Ancho fijo de 295px */
  box-sizing: border-box;
}

.cards_grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}




@media (max-width: 768px) {
  .container_select {
    justify-content: center;
    padding: 10px;
  }

  select, label {
    margin-top: 10px;
  }

  .card {
    margin: 12.5px auto; /* Ajusta el margen para mantener la consistencia en pantallas pequeñas */
  }
}
